[Unit]
Description=mserve.py
After=network.target

[Service]
User=cell
Group=cell
WorkingDirectory=/files/video
ExecStart=/bin/bash --login -c "/files/video/mserve.py"
Restart=always

[Install]
WantedBy=multi-user.target
